<div class="index-view row">

  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="main-title">&#10036; Songs by Genre &#10036;</h1>

    <% @genres.each do |genre| %>
      <div class="">
        <a class= "index-link" href="/genres/<%=genre.id%>"><%=genre.name%></a>
      </div>
    <% end %>


  </div>

  <div class="col-md-2"></div>
</div>
