<div class="show-view row">

  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1>&#10036; <%=@genre.name%> &#10036;</h1>

    <% @songs.each do |song| %>
      <div class="show-info">
        <%=song.title%></a>
      </div>
    <% end %>
  </div>

  <div class="col-md-2"></div>
</div>
