<div class="index-view row">

  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h1 class="main-title">	&#10036; Find Your Vibe	&#10036;</h1>
    <% @vibes.each do |vibe| %>
      <div class="">
        <a class= "index-link" href="/vibes/<%=vibe.id%>"><%=vibe.name%></a>
      </div>
    <% end %>

  </div>

  <div class="col-md-2"></div>
</div>
