// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";

// @media (min-width: 768px){
// .navbar-toggle {
//     display: none;
// }}

body {
  background-color: #032e72 !important;
  font-family: 'Nanum Gothic Coding', monospace !important;
}
h1, h2, h3, h4, h5,h6{
  color: white !important;

}

// .navbar-default .navbar-toggle {
//     border-color: #ddd;
// }
// #navigation,.navbar .navbar-default
.logo{
  font-family: 'Pacifico', cursive;

}

#header-banner
{
  // border-top: 2px dotted blue;
  // background:url("../images/microphone.jpg");
  background-image: url("microphone.jpg") !important;
  height: 300px;
  background-size: 100% 100%;

  text-align: center;
}
.jumbotron{
  margin: 0 !important;
}

#header-banner h1{
  color: white;
  text-shadow: 3px 3px 5px blue;
  font-size:8vw !important;
  // margin: 50px auto;
}
.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

.affix-top  .logo{
  color: #222 !important;
}

.affix + .container-fluid {
      padding-top: 70px;
  }

.nav {
  font-size: 1.5vw;
}

.alert {
  color: red;
  font-size: 2vw;
}

.index-view h1{
  text-align: center;
}
.show-view h1{
  text-align: center;
}
.index-link, .show-info {
  color: white !important;
  font-size: 1.5vw;
}

.btn {
  box-shadow: 2px 2px 2px;
}

main {
  // margin-left:
}
