// Custom bootstrap variables must be set or imported *before* bootstrap.

@import "bootstrap";

// @media (min-width: 768px){
// .navbar-toggle {
//     display: none;
// }}

body {
  background-color: #032e72 !important;
  font-family: 'Nanum Gothic Coding', monospace !important;
}
h1, h2, h3, h4, h5,h6{
  color: white !important;

}

// .navbar-default .navbar-toggle {
//     border-color: #ddd;
// }
// #navigation,.navbar .navbar-default
.logo{
  font-family: 'Pacifico', cursive;

}

#header-banner
{
  // border-top: 2px dotted blue;
  // background:url("../images/microphone.jpg");
  background-image: url("blue_pink_mic.jpg") !important;
  height: 300px;
  background-size: 100% 100%;

  text-align: center;
}
.jumbotron{
  margin: 0 !important;
}

#header-banner h1{
  color: white;
  text-shadow: 3px 3px 5px blue;
  font-size:8vw !important;
  // margin: 50px auto;
}
.affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

.affix-top  .logo{
  color: #222 !important;
}

.affix + .container-fluid {
      padding-top: 70px;
  }

.nav {
  font-size: 1.5vw;
}

.alert {
  color: red;
  font-size: 2vw;
}

.song-title{
  font-family: 'Pacifico', cursive;
  text-shadow: 3px 3px 5px rgb(197,78,157);
  font-size: 4vw;
}
.artist-title a {
  font-family: 'Pacifico', cursive;
  text-shadow: 3px 3px 5px rgb(197,78,157);
}

.index-view {
  text-align: center;
}
.show-view {
  text-align: center;
}
.like-btn{
  box-shadow: white !important;
  background-color: #5c38f9 !important;
  box-shadow: 1px 1px 3px white !important;
  border: none !important;
}
.like-btn a{
  text-decoration: none !important;
 font-family: 'Pacifico', cursive;
}
.vibe-btn{
   background-color: rgb(197,78,157) !important;
   box-shadow: 1px 1px 3px white !important;
   border: none !important;
   padding: 5px;
   margin: 5px;
}
.vibe-btn a{
  text-decoration: none !important;

}

.show-view a {
  color: white;
}

.song-aside {
  margin: 60px auto;
  padding: 15px;
  width: auto;
  //display makes it size to largest tag inside
  display:inline-block;
  border: 1px solid white !important;
  border-radius: 5%;
}

.table  a{
  color: #024082 !important;

  // font-size: 1.25vw;
}
.index-link {
  color: white !important;
  font-size: 1.5vw;
}

.btn {
  box-shadow: 2px 2px 2px;
}

.show-info{
  color: white;
  font-size: 1.5vw;

}


.table{
  background-color: #ddc7e2;
  color: white;
    text-align: left;
}
.table-striped{
  color:black;
}
main {
  // margin-left:
}

form label{
  color: white !important;
  // font-size: 1.5vw;
}
